.homePageWrapper{
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
}

.formWrapper{
  background: rgb(0, 27, 27);
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color: #eee;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.mainLabel{
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo{
  height: 80px;
  margin-bottom: 30px;
}

.inputBox{
  padding: 10px;
  border-radius: 50px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
    background: #005aae;
    width: 100px;
    margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
    background: #00396e;
}

.createInfo {
    margin: 0 auto;
    margin-top: 20px;
}

.createNewBtn {
    color: #005aae;
    text-decoration: none;
    border-bottom: 1px solid #005aae;
    transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
    color: #00396e;
    border-color: #00396e;
}
